
Portfolio Site/.DS_Store
.DS_Store
Portfolio Site/.DS_Store
Portfolio Site/Screen Shot 2022-04-14 at 4.34.34 PM.png
Portfolio Site/Screen Shot 2022-04-14 at 4.52.47 PM.png
Portfolio Site/Screen Shot 2022-04-14 at 4.56.48 PM.png
Portfolio Site/Screen Shot 2022-04-14 at 4.57.43 PM.png
Portfolio Site/Task 8.zip
.DS_Store
